#root {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(375px) 1fr;
}

.sidebar-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 147, 147);
  min-width: 0;
}

.list-container {
  display: flex;
  justify-content: flex-start;
  overflow-y: overlay;
  max-height: 700px;
  scrollbar-color: #be545440 #00000000;
  width: 100%;
}

ul {
  padding-left: 0;
  max-width: 300px;
  display: inline-block;
  list-style-type: disc;
}

li {
  font-size: 2rem;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1.2rem;
  cursor: pointer;
  transition: font-weight 0.3s ease; 
}

li:hover {
  font-weight: bold; 
}

.details-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(174, 231, 244);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2rem;
}

input {
  height: 2rem;
  width: 12rem;
  margin-bottom: 1rem;
}

button {
  width: 200px;
  margin: 1rem;
}

.button-container {
  padding: 2rem;
  outline: 0;
}
